.card {
  position: relative;
  z-index: 1;
  padding: 4rem 2rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--color-white);
  text-align: center;
}

.iconWrapper {
  display: grid;
  place-items: center;
  width: 5.5rem;
  height: 5.5rem;
  margin: -5.5rem auto 2rem;
  border-radius: 50%;
  background-color: var(--color-purple-950);
}

.title {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: var(--color-gray-900);
}

.description {
  color: var(--color-gray-500);
}

@media (min-width: 64rem) {
  .card {
    flex: 1;
    margin-top: calc(var(--offset) * 2.5rem);
    text-align: left;
  }

  .iconWrapper {
    margin: -5.5rem 0 2rem;
  }
}
