.footer {
  padding-block: 3.5rem;
  background-color: var(--color-gray-950);
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.logo img {
  filter: brightness(0) invert(1);
}

@media (min-width: 48rem) {
  .inner {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: start;
    gap: 2rem 3rem;
  }
}

@media (min-width: 64rem) {
  .inner {
    gap: 4rem;
  }
}
